* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.mt-5 {
  margin-top: 5;
}

.mt-10 {
  margin-top: 10;
}

.mt-15 {
  margin-top: 15;
}

.mt-20 {
  margin-top: 20;
}

.mt-25 {
  margin-top: 25;
}

.mt-30 {
  margin-top: 30;
}

.mt-35 {
  margin-top: 35;
}

.mt-40 {
  margin-top: 40;
}

.mt-45 {
  margin-top: 45;
}

.mt-50 {
  margin-top: 50;
}

.mt-55 {
  margin-top: 55;
}

.mt-60 {
  margin-top: 60;
}

.mt-65 {
  margin-top: 65;
}

.mt-70 {
  margin-top: 70;
}

.mt-75 {
  margin-top: 75;
}

.mt-80 {
  margin-top: 80;
}

.mt-85 {
  margin-top: 85;
}

.mt-90 {
  margin-top: 90;
}

.mt-95 {
  margin-top: 95;
}

.mt-100 {
  margin-top: 100;
}
