#hero {
  padding: 200px 100px;
  background-image: url('https://cc-prod.scene7.com/is/image/CCProdAuthor/dt-ps-max-poster-image?$pjpeg$&jpegSize=300&wid=1440');
  background-size: cover;

  .hero_content {
    width: 600px;
  }
}

#features {
  width: 1100px;
  margin: auto;
  text-align: center;
}

.features_box {
  @include flex_between;
  img {
    width: 550px;
  }
  .features_box_text {
    width: 450px;
  }
}
