// General
* {
  color: $font_color;
}

a {
  text-decoration: none;
}

.logo_text {
  color: $ps_logo_color;
}

// Header
header {
  h1, a {
    font-size: $font_size_300;
  }
}

//Main
.hero_content {

  img {
    width: 50px;
  }

  > * {
    color: $font_sec_color;
  }

  h2 {
    font-size: $font_size_900;
  }

  p {
    font-size: $font_size_600;
  }

}

#features {
  h3, h4 {
    font-size: $font_size_700;
  }
  p {
    font-size: $font_size_400;
  }
}
