// Btn
$btn_color: #1473e6;
$btn_color_hover: #0D66D0;

// Font color
$font_color: black;
$ps_logo_color: red;
$font_sec_color: white;

// Font size
$font_size_900: 50px;
$font_size_700: 35px;
$font_size_600: 25px;
$font_size_400: 18px;
$font_size_300: 16px;

// Background
$bg_color_primary: white;
